@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  border: 1px solid theme('colors.accentsuperlight');
  padding: 1.5rem;
  border-radius: 5px;
}

a {
  color: theme('colors.accent');
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

