@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  border: 1px solid theme('colors.accentsuperlight');
  padding: 1.5rem;
  border-radius: 5px;
}

.pages-container {
  div:not(:first-child) {
    border-bottom: 1px solid #e2e8f0;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
    &:hover {
      background-color: #f7fafc;
    }

    p {
      color: #999;
    }
  }
  div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #999;
    text-transform: uppercase;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

a {
  color: theme('colors.accent');
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

button {
  background-color: theme('colors.accentbutyoucanbarelyseeit');
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid theme('colors.accentsuperlight');
  transition: .3s ease;

  &:hover {
    background-color: darken(#eaebfc, 5%);
  }
}

