
.create {
    margin-top: auto;
    text-align: center;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;
    border-radius: 0px;
    color: white;
    background-color: theme('colors.accent');
  
    &:hover {
      background-color: darken(#e8ebfe, 25%);
    }
  }