.home {
  .pages-container {
    margin-top: 1rem;
    div {
      border-bottom: 1px solid #e2e8f0;
      padding: 0.25rem;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      
      &:hover {
        background-color: #f7fafc;
      }

      p {
        color: #999;
      }
    }
  }
}

#cohere {
  height: 2rem;
}