.sidebar {
  height: 100vh;
  position: sticky;
  gap: 0.5rem;
  width: 20%;

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    user-select: none;
    border: 1px solid #ddd;
    transition: .3s ease;

    &:hover {
      background-color: #eee;
    }
    &.active {
      background-color: #e8ebfe;
      border: 1px solid darken(#e8ebfe, 10%);
    }
  }
}