.edit {
    flex-grow: 10000;
    height: 99svh;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;

    textarea {
        border: none;
        resize: none;
        flex-grow: 10000;
        padding: 1rem 0;
        &:focus-visible {
            outline: none;
        }
    }
    
    .name-input {
        font-weight: 600;
        margin-top: 4rem;
        font-size: 2.5rem;
        &:focus-visible {
            outline: none;
        }
    }
    button {
        padding: 1.5rem;
        width: 100%;
        .loading {
            display: inline;
            margin-left: 1rem;
            animation: spin 2s ease-in-out infinite;
        }
        &.hide .loading {
            display: none;
        }

        .resultIndicator {
            display: inline;
        }
        &.success {
            background-color: rgba(0, 255, 0, 0.3) !important;
            border-color: rgba(0, 255, 0, 0.3) !important;
        }
        &.failure {
            background-color: rgba(255, 0, 0, 0.3) !important;
            border-color: rgba(255, 0, 0, 0.3) !important;
        }
    }


}

@keyframes spin {
    from {
        transform: rotate(-45deg)
    }
    to {
        transform: rotate(315deg)
    }
}