.edit {
    flex-grow: 10000;
    height: 99svh;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;

    textarea {
        border: none;
        resize: none;
        flex-grow: 10000;
        padding-top: 1rem;
        &:focus-visible {
            outline: none;
        }
    }
    
    .name-input {
        font-weight: bold;
        margin-top: 4rem;
        font-size: 2.5rem;
        &:focus-visible {
            outline: none;
        }
    }
}